looping

Loops in python are program code instructions that are executed repeatedly. Its function is to command the computer to do something repeatedly with a certain amount as long as a predetermined condition is still met

In [ ]:
#for loop -> a for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string)

for i in 'data':
  print(i)

In [ ]:
color = ['merah','kuning','hijau']

for i in color:
  print('warna {}'.format(i))

In [ ]:
for i in range(3):
  print(i)

In [ ]:
#nested loop -> create a loop inside a loop

for row in range(3):
    for col in range(3):
      if row == 0 and col <= 2:
        print("*", end= " ")
      elif row == 1 and col <= 1:
        print("*", end= " ")
      elif row == 2 and col == 0:
        print("*", end= " ")
    print()

In [ ]:
for baris in range(5):
  for kolom in range(7):
    print('o', end = ' ')
  else:
    print('')

In [ ]:
#while loop -> execute a set of statements as long as a condition is true

angka = int(input())

while (angka < 10):
    angka = angka + 2
    print("bilangan {}".format(angka))

In [ ]:
#break -> with the break statement we can stop the loop even if the while condition is true

for i in "Data Science":
    if i == " ":
        break
    print(i)

In [ ]:
#continue -> with the continue statement we can stop the current iteration, and continue with the next statement

for i in "Data":
  if i == "a":
      continue
  print(i)

else

with the else statement we can run a block of code once when the condition no longer is true

In [ ]:
#else after while

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print(i ,"is no longer less than 6")

1
2
3
4
5
6 is no longer less than 6

In [ ]:
angka = int(input())

while (angka <10):
    angka = angka +2
    if angka == 6:
      break
    print(angka)
else:
    print("loop selesai")

In [ ]:
#else after for

for i in range(1,7):
  if i % 2 == 0:
      print("{} adalah genap".format(i))
      break
  else:
      print("{} adalah bukan genap". format(i))

In [ ]:
#pass -> when the pass statement is executed, nothing happens, but you avoid getting an error when empty code is not allowed

import sys

n = ''

while(n != "exit"):
    try:
        n = (input("peroleh: "))
        print('dapat angka {}'.format(int(n)))
    except:
        if n == 'exit' :
            pass
        else:
            print('dapat error{}'.format(sys.exc_info()[0]))

In [ ]:
#list comprehension -> offers a shorter syntax when you want to create a new list based on the values of an existing list

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
angka = [4,9,16]
kubik = []

for i in angka:
  kubik.append(i**0.5)
print(kubik)

[2.0, 3.0, 4.0]

Function

A function is a block of code which only runs when it is called

In [ ]:
def pangkat(x):
    kuadrat = x**2 
    return kuadrat

In [ ]:
pangkat(3)

9

In [ ]:
def tambah(x,y):
    plus = x + y
    print("Hasil penjumlahan adalah {}".format(plus))

In [ ]:
tambah(2,3)

Hasil penjumlahan adalah 5

In [ ]:
angka = int(input().strip())
hasil = pangkat(angka)
print("hasilnya kuadrat dari {} adalah {}".format(angka,hasil))

3
hasilnya kuadrat dari 3 adalah 9

In [ ]:
def rubah(daftar_list):
    daftar_list= [3,4]
    print("Nilai dalam fungsi adalah {}".format(daftar_list))

In [ ]:
daftar_list = [5,6]
rubah(daftar_list)
print("Nilai diluar fungsi adalah {}".format(daftar_list))

Nilai dalam fungsi adalah [3, 4]
Nilai diluar fungsi adalah [5, 6]

In [ ]:
#argument and parameter in function

def pangkat(x):
    kuadrat = x**2 
    return kuadrat
#parameter = x
#argumen = 3

In [ ]:
#keyword argumen
def jadwal(tgl, bln, thn):
  berangkat = "Jadwal keberangkatan adalah tgl {} bln {} thn {}".format(tgl,bln,thn)
  return berangkat

In [ ]:
jadwal(tgl=2, bln='feb', thn=2022)

error

In [ ]:
#Example: syntax Error

print"learn Python"

In [ ]:
#Exception 
# 3 types Exception in the python programming languange,namely ZeroDivisionErro, NameError and TypeError

#1. ZeroDivisionError

7/0

In [ ]:
#2. Name Error

7+c

In [ ]:
#3. Type Error

a = 5
b = "learn python"

a + b

exception handling

In [ ]:
#division by zero
z = 0
1 / z

In [ ]:
#to handle it
try:
   x = 1 / 0
   print(x)
except ZeroDivisionError:
  print('Tidak bisa membagi angka dengan Nol')

In [ ]:
#another Error
open('black hole')

In [ ]:
#To Handle it
try : 
  with open ('black hole') as file : 
    print (file.read())
except FileNotFoundError : 
  print("black hole isn\'t real")

In [ ]:
a = {'rata2' : '5'}

In [ ]:
#Handling Exceptional in dictionary
print ('rata2: {}') .format (a['rata2'])

In [ ]:
#To Handle it
a = {'rata.rata' : '10'}

try:
  print('ratarata: {}'. format(a['ratarata']))
except KeyError:
  print('key not found in dictionary')
except ValueError:
  print('value does not match')